---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
---

<BaseLayout title="About | Kevin Hernandez" description="About Kevin Hernandez Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/web-development.png"
					alt="Kevin Hernandez at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a highly skilled software developer specializing in React, clean architecture, and the implementation of industry best practices. Throughout my career, I've focused on crafting intricate web and mobile applications that prioritize both functionality and engaging user experiences. My approach revolves around adhering to clean architecture principles, ensuring the scalability, maintainability, and resilience of the applications I develop. This emphasis on robust architecture not only enhances performance but also future-proofs the solutions to adapt seamlessly to changing technological landscapes.

					</p>
					<p>
What sets me apart is my relentless pursuit of staying ahead of technological advancements and industry trends. I'm driven by an insatiable curiosity, constantly exploring and integrating the latest innovations into my work. This proactive mindset enables me to deliver solutions that not only meet current needs but also anticipate and exceed future demands. Embracing emerging technologies isn't just a professional task; it's a personal passion that propels me to push the boundaries of what's achievable in software development.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="skills">
					<Pill> React.js</Pill>
					<Pill> React Native</Pill>
					<Pill> Next.js</Pill>
					<Pill> Redux</Pill>
					<Pill> Node.js</Pill>
					<Pill> Nest.js</Pill>
					<Pill> Angular</Pill>
					<Pill> Single-spa</Pill>
					<Pill> Jest / Testing-library</Pill>
					<Pill> Docker</Pill>
					<Pill> SQL</Pill>
					<Pill> TypeORM / Sequelize</Pill>
					<Pill> Apollo Client / Apollo Server</Pill>
					<Pill> AWS</Pill>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>

	.skills {
		 display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
		gap: .5rem;

	}
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
